@font-face {
    font-family: 'GongGothicLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header_container {
    display: grid;
    grid-template-columns: auto 300px;
    text-align: center;
    position: absolute;
    /* position: fixed; */
    width: 100%;
    height: 100px;
    z-index: 1;
}

.header_title_container{
    display: flex;
    align-items: center;
}

.header_title {
    font-size: 40px;
    margin-left: 30px;
    font-family: 'GongGothicLight';
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.group_nav {
    display: flex;
    align-items: center;
    justify-items: center;
    z-index: 1;
}

.group_nav a {
    font-family: 'GongGothicLight';
    width: 100px;
    cursor: pointer;
}

.group_nav a:hover {
    color: gray;
}

.fixed_header, .fixed_title {
    background-color: black;
    color: white;
    opacity: 70%;
}

@media only screen and (max-width: 900px) {
    .header_container {
        background-color: black;
        grid-template-columns: 100%;
        position: fixed;
        opacity: 80%;
    }

    .header_title {
        color: white;
        font-size: 25px;
    }

    .group_nav {
        display: none;
    }
}