.skills {
    display: grid;
    grid-template-rows: 20% 80%;
    border-top: 1px solid slategray;
    padding: 0 2px 0 2px;
    height: 600px;
}

.skills_title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-style: italic;
}

.skills_content {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.skills_content h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid lightgray;
}

.skill_content_container {
    display: grid;
    grid-template-columns: 200px auto;
    border: 3px solid lightgray;
    border-radius: 10px;
    margin: 10px;
    width: 90%;
    height: 100px;
}

.skill_list_content {
    display: flex;
    align-items: center;
}

.skill_list_content img{
    width: 80px;
    height: 80px;
    margin-right: 5px;
    margin-left: 5px;
}