@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.body_container {
    height: 2000px;
    display: grid;
    grid-template-rows: 400px 400px 600px 600px;
}

.bodyTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-style: italic;
    font-family: 'paybooc-Bold';
}

.bodyFont {
    font-family: 'paybooc-Bold';
}

@media only screen and (max-width: 700px) {
    .bodyFont {
        font-size: 15px;
    }

    .bodyTitle {
        font-size: 25px;
    }
}