.project {
    display: grid;
    grid-template-rows: 20% 80%;
    border-top: 1px solid slategray;
    padding: 0 2px 0 2px;
    height: 600px;
}

.project_contents {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid black; */
}

.project_content {
    width: 80%;
    height: 80%;
    border: 3px solid gray;
}

#carousel {
    object-fit: contain;
    height: 400px;
}

.carousel_img_container {
    object-fit: contain;
}

.carousel_img_container img {
    object-fit: contain;
    height: 250px;
}
